.el {
  .container {
    padding: 30px;
  }
  .title {
    &::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: #006284;
      top: -9px;
    }
    font-weight: bold;
    font-size: 30px;
    color: #006284;
    text-transform: uppercase;
    position: relative;
    margin: 15px 0;
  }
  .name {
    font-size: 20px;
  }
  .skills {
    color: #2ea9df;
    font-size: 20px;
    font-weight: bold;
  }
  .copy {
    margin-top: 15px;
  }
  .button {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    a {
      padding: 15px 25px;
      background-color: #006284;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.15em;
    }
  }
  .link {
    margin-top: 15px;
    a {
      display: flex;
      color: #006284;
      text-decoration: none;
      align-items: center;
      font-size: 18px;
      margin-bottom: 10px;
      span {
        margin-right: 10px;
        font-size: 14px;
      }
    }
  }
  @media screen and (min-width: 900px) {
    .container {
      padding: 50px;
    }
  }
}
