.el {
  display: flex;
  justify-content: center;
  padding: 20px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  img {
    width: 50px;
    height: 100%;
  }

  @media screen and (min-width: 900px) {
    position: relative;
    img {
      width: 60px;
    }
  }
}

