.el {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 900px) {
    flex-direction: row;
    align-items: center;
    > div {
      width: 50%;
    }
    &.reverse {
      flex-direction: row-reverse;
    }
  }
}