.el {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.social {
  display: flex;
  align-items: center;
  &-item {
    color: #006284;
    text-decoration: none;
    font-size: 24px;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.copyright {
  font-size: 12px;
  margin-top: 30px;
}